<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.github.manuito83.cavokator" android:versionCode="1" android:versionName="1.1" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Cavokator" android:theme="@android:style/Theme.Material"></application>
</manifest>